{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% block page_actions %}
    <form
            id="upload-publication-csv-form"
            action="{{ path('admin_page_file_upload') }}"
            method="post"
            enctype="multipart/form-data"
    >
        <div class="d-flex">
            <input
                    type="file"
                    class="form-control"
                    id="pageFileUpload"
                    required="required"
                    name="pageFileUpload"
            >
            <button type="submit" class="btn btn-primary" style="margin: 0 40px 0 20px" name="submit">
                <i class="fas fa-upload"></i>
                Uploader un fichier
            </button>
        </div>
    </form>

    {% if isChart(edit_form.vars.value) %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chartModal">
            Aperçu du graphique
        </button>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block main %}
    {% block edit_form %}
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-7">
                {{ include('@Page/admin/partials/_form_panel.html.twig', {form: edit_form, panel_index: 1}) }}
            </div>
            <div class="col-5">
                {{ include('@Page/admin/partials/_form_panel.html.twig', {form: edit_form, panel_index: 2}) }}
            </div>
        </div>
        <div class="row">
            <div class="{% if isChart(edit_form.vars.value) %}col-12{% else %}col-7{% endif %}">
                {{ include('@Page/admin/partials/_form_panel.html.twig', {form: edit_form, panel_index: 3}) }}
            </div>
            {% if not isChart(edit_form.vars.value) %}
                <div class="col-5">
                    <div class="field-form_panel">
                        <div class="content-panel">
                            <div class="content-panel-header">Fichiers disponibles (cliquez pour copier le lien)</div>

                            <div id="content-4" class="content-panel-body with-background without-footer show">
                                <ul>
                                    {% for file in renderAvailableFiles() %}
                                        {% if loop.index0 > 1 %}
                                            <li><span class="page-file">{{ file }}</span></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {{ form_end(edit_form) }}
    {% endblock edit_form %}

    {% if isChart(edit_form.vars.value) %}
        <div class="modal fade" id="chartModal" tabindex="-1" aria-labelledby="chartModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="chartModalLabel">Aperçu du graphique</h5>
                    </div>
                    <div class="modal-body">
                        <div class="position-relative">
                            <canvas id="{{ edit_form.vars.value.title|lower|replace({" ": "-", "'": ""}) }}" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {{ include('@Page/admin/includes/_chart_builder.html.twig', { section: edit_form.vars.value }) }}
{% endblock %}

{% block configured_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/page/admin.js') }}"></script>
{% endblock %}