{% extends '@EasyAdmin/crud/form_theme.html.twig' %}

{% block section_row_widget %}
    {% if form.vars.value %}
        {% set referrerName = form.vars.form.parent.parent.vars.id %}
        {% set referrerId = form.vars.form.parent.parent.vars.value.id %}
        {% set entityId = form.vars.value.id %}
        {% set className = form.vars.value.className %}

        {% set
            editUrl = ea_url()
            .setController('Hippocampe\\Bundle\\PageBundle\\Controller\\Admin\\' ~ className ~ 'CrudController')
            .setAction('edit')
            .setEntityId(entityId)
        %}
    {% endif %}
    <div class="section-row">
        <div class="form-group">
            <label></label>
            <div class="form-widget">
                <div class="field-collection-item field-collection-item-complex">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="d-flex">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#{{ form.vars.id }}-contents"
                                        aria-expanded="false"
                                        {% if form.vars.value.title is defined %}
                                    {{ form.vars.value.title }}
                                {% endif %}
                                >
                                    <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
                                    {% if form.vars.value.title is defined %}
                                        {{ form.vars.value.title }}
                                    {% endif %}
                                </button>
                                <div class="justify-content-end">
                                    {% if editUrl is defined %}
                                        <a href="{{ editUrl }}&referrerId={{ referrerId }}&referrerName={{ referrerName }}" class="btn btn-link" title="Editer l'élément">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    {% endif %}
                                    <button
                                            type="button"
                                            class="btn btn-link btn-link-danger field-collection-delete-button"
                                            title="Supprimer l'élément"
                                    >
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </h2>
                        <div id="{{ form.vars.id }}-contents" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="form-widget-compound">
                                    <div id="{{ form.vars.id }}">
                                        <div>
                                            <div class="form-group">
                                                {{ form_row(form.position) }}
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                {{ form_row(form.title) }}
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                {{ form_row(form.sticky) }}
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                {{ form_row(form.className) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
